<configuration>

  <timestamp key="bySecond" datePattern="yyyyMMdd_HHmmss"/>

  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator class="miquifant.getemall.log.LoggerNameBasedDiscriminator"/>
    <sift>
      <appender class="ch.qos.logback.core.FileAppender">
        <file>${getemall.logDir}/${bySecond}/${loggerName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <pattern>%d{YYYY-MM-dd HH:mm:ss:SSS} %-5level %msg%n%rEx</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <appender name="APPLOG" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator class="miquifant.getemall.log.LoggerNameBasedDiscriminator"/>
    <sift>
      <appender class="ch.qos.logback.core.FileAppender">
        <file>${getemall.logDir}/${bySecond}/${loggerName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <pattern>%d{YYYY-MM-dd HH:mm:ss:SSS} %msg%n%rEx</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{YYYY-MM-dd HH:mm:ss} %-5level [%logger] %msg%n%rEx</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="SIFT" />
  </root>

  <logger name="AccessManager" level="INFO" additivity="false">
    <appender-ref ref="APPLOG" />
  </logger>
  <logger name="NavigationLog" level="INFO" additivity="false">
    <appender-ref ref="APPLOG" />
  </logger>

  <!-- Following loggers may change log level and ask for showing messages in stdout (additionally) -->
  <logger name="org.eclipse.jetty" level="WARN">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.javalin">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="GetemallServer">
    <appender-ref ref="STDOUT" />
  </logger>

</configuration>
